In [1]:
from platform import python_version
print(python_version())

3.7.3

In [11]:
print("Hello world")

Hello world

In [13]:
name = 'Amit'
print(name)
print(name.upper())
print(name.title())

Amit
AMIT
Amit

In [5]:
fst_nme = 'Amit'
snd_nme = 'Singh'

full_nme = f'{fst_nme} {snd_nme}'
print(full_nme)

Amit Singh

In [6]:
full_nme = f'{fst_nme} \n{snd_nme}'
print(full_nme)

Amit
Singh

In [21]:
my_list = ['pizza','burger','hotdog','momos','dosa','dabeli','sev puri','fruit chat']
print(my_list)
print(my_list[1])
print(my_list[3].title())

['pizza', 'burger', 'hotdog', 'momos', 'dosa', 'dabeli', 'sev puri', 'fruit chat']
burger
Momos

In [6]:
my_list[0:3]

['pizza', 'burger', 'hotdog']

In [7]:
my_list[1:]

['burger', 'hotdog', 'momos', 'dosa', 'dabeli', 'sev puri', 'fruit chat']

In [8]:
my_list[2:4]

['hotdog', 'momos']

In [9]:
my_list[:4]

['pizza', 'burger', 'hotdog', 'momos']

In [10]:
my_list[::2]

['pizza', 'hotdog', 'dosa', 'sev puri']

In [11]:
my_list[::-1]

['fruit chat',
 'sev puri',
 'dabeli',
 'dosa',
 'momos',
 'hotdog',
 'burger',
 'pizza']

In [12]:
my_list[::-2]

['fruit chat', 'dabeli', 'momos', 'burger']

In [13]:
my_list[-1::-2]

['fruit chat', 'dabeli', 'momos', 'burger']

In [14]:
my_list[-1:3:-2]

['fruit chat', 'dabeli']

In [17]:
# append insert the item at a end of the list:
my_list.append("noodles")
print(my_list)

['pizza', 'burger', 'hotdog', 'momos', 'dosa', 'dabeli', 'sev puri', 'fruit chat', 'noodles', 'noodles']

In [18]:
# remove removes the first matching value, not a specific index:
# remove - Takes value, removes first occurrence, and returns nothing
my_list.remove("noodles")
print(my_list)

['pizza', 'burger', 'hotdog', 'momos', 'dosa', 'dabeli', 'sev puri', 'fruit chat', 'noodles']

In [35]:
# pop removes the item at a specific index and returns it
# pop - Takes Index and returns Value
my_list.pop(1)
print(my_list)

['pizza', 'dabeli', 'sev puri', 'fruit chat', 'noodles']

In [29]:
# insert insert the item at a specific index:
my_list.insert(3,'burger')
print(my_list)

['pizza', 'hotdog', 'momos', 'burger', 'dosa', 'dabeli', 'sev puri', 'fruit chat', 'noodles']

In [32]:
# del removes the item at a specific index:
# delete - Takes index, removes value at that index, and returns nothing
del my_list[2]
print(my_list)

['pizza', 'hotdog', 'burger', 'dosa', 'dabeli', 'sev puri', 'fruit chat', 'noodles']

In [ ]:
# del (list): delete the whole list
# del (my_list)

In [16]:
# sort() doesn't return any value while, sorted() returns an iterable list.
# a.sort() and sorted(a)

my_list = ['pizza','burger','hotdog','momos','dosa','dabeli','sev puri','fruit chat']
print('Origional list: ' f'{my_list}')
my_list.sort()
print('Sorted list: ' f'{my_list}')

print('\n')

my_list = ['pizza','burger','hotdog','momos','dosa','dabeli','sev puri','fruit chat']
print('Origional list: 'f'{my_list}')
print('Sorted list: ' f'{sorted(my_list)}')
sorted(my_list)

Origional list: ['pizza', 'burger', 'hotdog', 'momos', 'dosa', 'dabeli', 'sev puri', 'fruit chat']
Sorted list: ['burger', 'dabeli', 'dosa', 'fruit chat', 'hotdog', 'momos', 'pizza', 'sev puri']


Origional list: ['pizza', 'burger', 'hotdog', 'momos', 'dosa', 'dabeli', 'sev puri', 'fruit chat']
Sorted list: ['burger', 'dabeli', 'dosa', 'fruit chat', 'hotdog', 'momos', 'pizza', 'sev puri']

['burger',
 'dabeli',
 'dosa',
 'fruit chat',
 'hotdog',
 'momos',
 'pizza',
 'sev puri']

In [19]:
my_list = ['pizza','burger','hotdog','momos','dosa','dabeli','sev puri','fruit chat']
my_list.reverse()
print('Reversed list: ' f'{my_list}')
print(my_list)

Reversed list: ['fruit chat', 'sev puri', 'dabeli', 'dosa', 'momos', 'hotdog', 'burger', 'pizza']
['fruit chat', 'sev puri', 'dabeli', 'dosa', 'momos', 'hotdog', 'burger', 'pizza']

In [45]:
# copy method
list =['lion','tiger','horse','deer']
Animals=list.copy()
print(Animals)

['lion', 'tiger', 'horse', 'deer']

In [46]:
animals=['lion','tiger','horse','deer']
birds=['crow','eagle','peacock','sparrow']
animals=birds[:]
print(animals)

['crow', 'eagle', 'peacock', 'sparrow']

In [47]:
# Merge method

animals=['lion','tiger','horse','deer']
birds=['crow','eagle','peacock','sparrow']
merged_list= animals + birds
print(merged_list)

['lion', 'tiger', 'horse', 'deer', 'crow', 'eagle', 'peacock', 'sparrow']

In [48]:
# extedning the list

animals=['lion','tiger','horse','deer']
birds=['crow','eagle','peacock','sparrow']
animals.extend(birds)
print(animals)

['lion', 'tiger', 'horse', 'deer', 'crow', 'eagle', 'peacock', 'sparrow']

In [38]:
#for loop

my_list = ['pizza','burger','hotdog','momos','dosa','dabeli','sev puri','fruit chat']

for i in my_list:
    print(i,',',i.upper(),',',i.title())

pizza , PIZZA , Pizza
burger , BURGER , Burger
hotdog , HOTDOG , Hotdog
momos , MOMOS , Momos
dosa , DOSA , Dosa
dabeli , DABELI , Dabeli
sev puri , SEV PURI , Sev Puri
fruit chat , FRUIT CHAT , Fruit Chat

In [41]:
numbers = [10,20,30,40,50,60,70,80,90]

for num in numbers:
    print(int(num/10))

1
2
3
4
5
6
7
8
9

In [42]:
squares=[]
for x in range(3,9):
     values=(x**3)
     print(values)

27
64
125
216
343
512

In [43]:
squares=[]
for x in range(3,9):
    values=(x**5)
    squares.append(values)
    print(squares)

[243]
[243, 1024]
[243, 1024, 3125]
[243, 1024, 3125, 7776]
[243, 1024, 3125, 7776, 16807]
[243, 1024, 3125, 7776, 16807, 32768]

In [44]:
cars= ['audi','bmw','toyota','tata','mercedes','honda','maruti']

for car in cars[2:5]:
    print(car)

toyota
tata
mercedes

In [23]:
#tuples
dimensions=(200,300,400)
for dimension in dimensions:
    print(dimension)

200
300
400

In [24]:
#tuples
dimensions=(500,600,700)
for dimension in dimensions:
    print(dimension)

500
600
700

In [29]:
# if statement
cars= ['audi','bmw','toyota','tata','mercedes','honda','maruti']

for car in cars:
    if car=='toyota':
        print(car.upper())
    else:
        print(car.lower())

audi
bmw
TOYOTA
tata
mercedes
honda
maruti

In [30]:
# if statement ---- ! statement
cars= ['audi','bmw','toyota','tata','mercedes','honda','maruti']

for car in cars:
    if car!='toyota':
        print(car.upper())
    else:
        print(car.lower())

AUDI
BMW
toyota
TATA
MERCEDES
HONDA
MARUTI

In [51]:
# dictionaries -- Mutable, values can be reassigned after declaration of variables, Key value pair
dict={'bird':'sparrow','color':'black','point':'5'}
print(dict['bird'])
print(dict['color'])
print(dict['point'])

sparrow
black
5